---
import Header from "../../../layouts/Header.astro";
import Section from "./download-section";
---

<div class="relative">
  <Header className="!h-64">
    <h1 class="max-sm:!text-4xl max-lg:!text-5xl text-gradient">
      Download Exodia OS
    </h1>
  </Header>
  <Section client:only />
</div>
