---
import Header from "../../../layouts/Header.astro";
import Slider from "./slider.jsx";
---

<div class="flex flex-col">
  <Header className="!h-64">
    <h1 class="max-sm:!text-4xl max-lg:!text-5xl typed text-gradient">
      Gallery Exodia OS
    </h1>
  </Header>
  <div class="w-full lg:p-16 p-8">
    <div class=" bg-secondary rounded-2xl p-4 pt-8 flex flex-col gap-4 container w-fit max-h-[calc(100vh-128px)] mx-auto">
      <h1 class="text-5xl !font-extrabold text-gradient text-center">BSPWM</h1>
      <Slider client:only />
    </div>
  </div>
</div>
