---
import Card from "../../ui/card";
---

<section
  class="grid grid-cols-3 max-lg:grid-cols-2 max-md:grid-cols-1 gap-8 container px-16 mx-auto place-items-center *:*:!w-full"
>
  <Card client:load title="PowerShell">
    Microsoft PowerShell pre-installed pre-configured with Oh My Posh.
  </Card>
  <Card client:load title="TUI Apps">
    Support a whole bunch of TUI Apps RUN: <br />
    <span class="text-sm text-primary">pacman -Sg Exodia-TUI-Apps </span>
    <br />
    to list all available apps
  </Card>
  <Card client:load title="Files Templates">
    Help you to create coding files like web Dev, python, etc... and more Files
    Templates.
  </Card>
  <Card client:load title="EWW">
    Supporting ElKowars wacky widgets(EWW), comes with EWW <br />
    <span class="text-sm text-primary">pre-installed/configured.</span>
  </Card>
  <Card client:load title="zsh">
    Exodia comes zsh pre-installed and pre-configured zsh is the default shell
  </Card>
  <Card client:load title="PredatorSense">
    A kernel module to control RGB & Fan speed in Linux for Acer Predator
    Laptops via: <br />
    <span class="text-sm text-primary"
      >Predator-Sense-CLI <br /> Predator-Sense-GUI</span
    >
  </Card>
  <Card client:load title="CyberSecurity Tools">
    Support tools for all CyberSecurity fields using BlackArch Repos & Exodia
    Repos
  </Card>
  <Card client:load title="BIOS & UEFI"> Supporting both BIOS & UEFI </Card>
  <Card client:load title="Plymouth">
    Supporting Plymouth <br />
    <span class="text-sm text-primary"> exodia-plymouth </span>
    is the default theme
  </Card>
</section>
