---
import Header from "../../../layouts/Header.astro";
import Button from "../../ui/button";
import TypedJS from "../../ui/typed.tsx";
---

<Header>
  <p class="text-primary-foreground font-extrabold">Exodia OS</p>
  <h1 class="max-sm:!text-4xl max-lg:!text-5xl typed text-gradient">
    An OS for <TypedJS client:only />
  </h1>
  <p class="font-bold">
    A highly customized arch-based distro For All Cybersecurity fields.
  </p>
  <div class="flex gap-3">
    <a href="/download"><Button rounded="full">Download</Button></a>
    <a href="/wiki"><Button rounded="full" variant="bordered">Wiki</Button></a>
  </div>
</Header>

<style scoped>
  .typed {
    font-weight: 600;
    margin: 10px 0px;
  }
</style>
